.formstyle{
    display: flex;
    justify-content: center;
    width: 140px;
    height: 265px;
    margin: auto;
    background:rgb(253, 224, 171);
    border: 2px solid rgb(136, 78, 12);
}

#text{
    width: 122px;
    background-color: rgb(136, 78, 12);
}
input{
    width: 40px;
    border-radius: 5px;
    color: blanchedalmond;
    background-color: rgb(136, 78, 12);
}
#clear{
    width: 125px;
}
